// contains resets, variables, mixins, and some utility CSS classes
$minFontSize: 14;
$minWidth: 320px;
$navColor: #a06969;
$colorRootBeer: #714a41;
$colorHeaderBlue: #73afb9;
$colorHeaderSnow: #f5f5f5;
