// buttons, navbars, cards, anything that is reusable
@use '_base.scss' as base;

nav {
  display: flex;
  background-color: base.$navColor;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  ul {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    list-style: none;
  }
  .navburger {
    display: none;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.4s ease-in-out;
    transition-timing-function: cubic-bezier(0.71, 0.03, 0.16, 0.98);
    background-color: #101010;
  }

  @media (max-width: 768px) {
    nav {
      justify-content: space-between;
    }
    .nav-menu {
      position: fixed;
      top: 5rem;
      left: -100%;
      flex-direction: column;
      width: 30%;
      text-align: center;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      // & is parent selector
      &.active {
        left: 0;
      }
    }
    .navburger {
      display: block;
      cursor: pointer;
      &.active .bar:nth-child(2) {
        opacity: 0;
      }
      &.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      &.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}
