// overall layout of the web page such as container and grid systems.
@use '_base.scss' as base;

html {
  font-size: base.$fontSizeMin;
  height: 100%;
  background-image: linear-gradient(white, base.$colorRootBeer);
  body {
    background-color: base.$colorSnow;
  }
  @media (min-width: base.$minWidth) {
    body {
      width: 60%;
      margin: auto;
      border-radius: 0.5rem;
      box-shadow: 0 0 0 0.05rem grey;
    }
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to left,
    base.$colorSnow -25%,
    base.$colorBlue 75%
  );
  img {
    max-height: 2.2rem;
    margin: 1em;
  }
  h1 {
    font-size: 2rem;
    display: none;
  }
  @media (min-width: base.$minWidth) {
    h1 {
      display: block;
    }
  }
}

div.content-wrapper {
  margin: 1em;
  border-radius: 0.2em;
  border: solid base.$colorRootBeer 0.1em;
  box-shadow: 0 0 0 0.1rem grey;
  h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

footer {
  text-align: center;
  img {
    max-height: 1.2rem;
    max-width: 1.2rem;
  }
}
